@import url(https://fonts.googleapis.com/css?family=Lato:400,300italic,700,900);
/***** CLEARFIX is applied to the parent of floated elements *************/
/*************************************************************************/
/* line 11, ../scss/style.scss */
.clearfix {
  zoom: 1;
}
/* line 13, ../scss/style.scss */
.clearfix:before, .clearfix:after {
  content: "";
  display: table;
}
/* line 17, ../scss/style.scss */
.clearfix:after {
  clear: both;
}

/* line 21, ../scss/style.scss */
img {
  display: block;
  max-width: 100%;
  margin: 0 auto;
}

/* line 26, ../scss/style.scss */
a {
  text-decoration: none;
}

/* line 29, ../scss/style.scss */
.orangebutton {
  padding: 4%;
  color: white;
  text-align: center;
  text-decoration: none;
  background: #ff6d38;
  -moz-transition: background 0.3s;
  -o-transition: background 0.3s;
  -webkit-transition: background 0.3s;
  transition: background 0.3s;
}
/* line 36, ../scss/style.scss */
.orangebutton a {
  color: #ff6d38;
}
/* line 40, ../scss/style.scss */
.orangebutton:hover {
  background: #464646;
  color: #ff6d38;
}

/* line 45, ../scss/style.scss */
.orangeoutline {
  padding: 4%;
  color: white;
  text-align: center;
  text-decoration: none;
  border: 2px solid #ff6d38;
  -moz-transition: background 0.3s;
  -o-transition: background 0.3s;
  -webkit-transition: background 0.3s;
  transition: background 0.3s;
}
/* line 52, ../scss/style.scss */
.orangeoutline a {
  color: #ff6d38;
}
/* line 56, ../scss/style.scss */
.orangeoutline:hover {
  background: #ff6d38;
}

/* line 62, ../scss/style.scss */
.orangefill {
  padding: 4%;
  color: white;
  text-align: center;
  text-decoration: none;
  background: #ff6d38;
  border: 2px solid #ff6d38;
  -moz-transition: background 0.3s;
  -o-transition: background 0.3s;
  -webkit-transition: background 0.3s;
  transition: background 0.3s;
}
/* line 70, ../scss/style.scss */
.orangefill a {
  color: #ff6d38;
}
/* line 74, ../scss/style.scss */
.orangefill:hover {
  background: #ff6d38;
}

/* line 78, ../scss/style.scss */
.bluebutton {
  padding: 4%;
  color: white;
  text-align: center;
  text-decoration: none;
  background: #18379c;
  -moz-transition: background 0.3s;
  -o-transition: background 0.3s;
  -webkit-transition: background 0.3s;
  transition: background 0.3s;
}
/* line 85, ../scss/style.scss */
.bluebutton a {
  color: #ff6d38;
}
/* line 89, ../scss/style.scss */
.bluebutton:hover {
  background: #464646;
  color: #ff6d38;
}

/* line 94, ../scss/style.scss */
a {
  text-decoration: none;
}

/***** SITE STYLES *************/
/**********************************/
/* line 100, ../scss/style.scss */
body {
  background: url(../img/zverselogoblue.svg), #a0bbcf;
  background-repeat: no-repeat;
  background-position: right center;
  background-attachment: fixed;
  background-size: 80%;
  font-family: 'Lato', sans-serif;
}

/* line 110, ../scss/style.scss */
header {
  background: #464646;
  padding-top: 20px;
}
/* line 113, ../scss/style.scss */
header img {
  float: left;
  height: 48px;
  width: 45%;
  vertical-align: baseline;
}
/* line 121, ../scss/style.scss */
header .available {
  float: right;
  width: 45%;
  margin-right: 10%;
  color: white;
  font-size: .8em;
  text-align: right;
  letter-spacing: 2px;
  vertical-align: baseline;
}
/* line 130, ../scss/style.scss */
header .available .availablebutton {
  padding: 4%;
  padding-right: 0;
  display: block;
}
/* line 134, ../scss/style.scss */
header .available .availablebutton a {
  display: inline-block;
  width: 19%;
}
/* line 141, ../scss/style.scss */
header .available h3 {
  display: block;
  margin-top: 0;
  margin-bottom: 5px;
}
/* line 147, ../scss/style.scss */
header .layrheader {
  display: block;
  padding-top: 20px;
  color: white;
  text-align: center;
  font-size: .9em;
  clear: both;
}
/* line 154, ../scss/style.scss */
header .layrheader h1 {
  margin-top: 0;
  margin-bottom: 10px;
}

/* line 161, ../scss/style.scss */
.wrapper {
  width: 90%;
  margin: 0 auto;
}

/* line 165, ../scss/style.scss */
.maincontentbox {
  background: #464646;
  padding: 5%;
  margin: 40px 0;
}
/* line 169, ../scss/style.scss */
.maincontentbox ul {
  display: block;
  list-style: none;
  padding: 0;
  margin-top: 0;
  margin-bottom: 15px;
}
/* line 175, ../scss/style.scss */
.maincontentbox ul li {
  display: inline-block;
  width: 24%;
  text-align: center;
}
/* line 180, ../scss/style.scss */
.maincontentbox ul a {
  display: block;
  color: white;
  padding: 10px,20px;
  font-size: .8em;
}
/* line 185, ../scss/style.scss */
.maincontentbox ul a:hover {
  color: #ff6d38;
}

/* line 191, ../scss/style.scss */
footer {
  background: #464646;
  color: #ff6d38;
  padding: 30px 5%;
}
/* line 197, ../scss/style.scss */
footer ul {
  display: block;
  list-style: none;
  padding: 0;
  display: block;
  margin: 0 auto;
}
/* line 204, ../scss/style.scss */
footer li {
  display: inline-block;
  width: 30%;
  text-align: center;
}
/* line 209, ../scss/style.scss */
footer a {
  color: #ff6d38;
}
/* line 211, ../scss/style.scss */
footer a:hover {
  color: white;
}

/* line 220, ../scss/style.scss */
.maincontentbox {
  margin-bottom: 40px;
  color: white;
  padding-bottom: 40px;
}
/* line 224, ../scss/style.scss */
.maincontentbox label {
  display: block;
  margin-bottom: 5px;
}
/* line 228, ../scss/style.scss */
.maincontentbox input {
  width: 98%;
  margin: 10px auto;
  color: black;
}
/* line 233, ../scss/style.scss */
.maincontentbox .loginbuttons {
  display: block;
  margin-top: 30px;
}
/* line 237, ../scss/style.scss */
.maincontentbox .loginbuttons .orangebutton {
  float: left;
  width: 39%;
}
/* line 240, ../scss/style.scss */
.maincontentbox .loginbuttons .orangebutton:first-child {
  margin-right: 3%;
}
/* line 243, ../scss/style.scss */
.maincontentbox .loginbuttons .orangebutton:hover {
  background: #a0bbcf;
}

/* line 253, ../scss/style.scss */
.innercontent {
  background: white;
  padding: 4%;
  color: #464646;
}

/* line 258, ../scss/style.scss */
.profilepicture {
  padding: 8%;
  background: #464646;
}
/* line 261, ../scss/style.scss */
.profilepicture .pictureinput {
  display: block;
}
/* line 264, ../scss/style.scss */
.profilepicture .choosefile {
  -webkit-appearance: none;
  border: none;
  color: white;
  padding: 4%;
  display: block;
  max-width: 100%;
}
/* line 272, ../scss/style.scss */
.profilepicture .choosefilehover {
  background-color: #464646;
}

/* line 277, ../scss/style.scss */
.profileinput {
  margin-top: 20px;
}
/* line 279, ../scss/style.scss */
.profileinput label {
  margin-bottom: 8px;
}
/* line 282, ../scss/style.scss */
.profileinput input {
  margin-top: 5px;
}
/* line 285, ../scss/style.scss */
.profileinput select {
  margin: 20px auto;
}
/* line 288, ../scss/style.scss */
.profileinput .orangebutton {
  border: none;
  background: #ff6d38;
  color: white;
  padding: 20px auto;
  display: block;
  margin: 20px auto;
}
/* line 295, ../scss/style.scss */
.profileinput .orangebutton:hover {
  background: #464646;
}

/* line 300, ../scss/style.scss */
.portfoliolinks {
  color: #464646;
  margin-top: 20px;
}

/* line 307, ../scss/style.scss */
.tablecontent {
  font-size: .8em;
  display: block;
}
/* line 310, ../scss/style.scss */
.tablecontent tr {
  display: block;
}
/* line 314, ../scss/style.scss */
.tablecontent td {
  margin-right: 2%;
  width: 10%;
}
/* line 318, ../scss/style.scss */
.tablecontent .orangebutton {
  border: none;
  background: #ff6d38;
  padding: 4%;
}
/* line 322, ../scss/style.scss */
.tablecontent .orangebutton:hover {
  background: #464646;
}

/* line 328, ../scss/style.scss */
.additionalinformation {
  background: white;
  padding: 4%;
  margin-bottom: 30px;
}
/* line 332, ../scss/style.scss */
.additionalinformation h1 {
  font-size: 1.2em;
  margin-top: 10px;
  padding-bottom: 10px;
  display: block;
  border-bottom: 3px solid black;
}
/* line 339, ../scss/style.scss */
.additionalinformation .logoimage {
  float: left;
  width: 20%;
  margin-right: 5%;
}
/* line 344, ../scss/style.scss */
.additionalinformation table {
  font-size: .9em;
}
/* line 347, ../scss/style.scss */
.additionalinformation tr {
  margin-bottom: 15px;
}
/* line 350, ../scss/style.scss */
.additionalinformation th {
  text-align: left;
}
/* line 354, ../scss/style.scss */
.additionalinformation td {
  padding-left: 5%;
}

/* line 361, ../scss/style.scss */
.additionalinformation {
  color: #464646;
}
/* line 363, ../scss/style.scss */
.additionalinformation .overview {
  background: #ebebeb;
  padding: 4%;
}
/* line 366, ../scss/style.scss */
.additionalinformation .overview h5 {
  margin-top: 0;
}
/* line 370, ../scss/style.scss */
.additionalinformation h5 {
  margin-bottom: 5px;
}
/* line 373, ../scss/style.scss */
.additionalinformation ul {
  list-style: none;
  padding: 0;
}
/* line 377, ../scss/style.scss */
.additionalinformation .overviewbuttons {
  margin-top: 25px;
}
/* line 379, ../scss/style.scss */
.additionalinformation .overviewbuttons label {
  display: block;
  margin-top: 25px;
}
/* line 383, ../scss/style.scss */
.additionalinformation .overviewbuttons .bluebutton {
  display: block;
  margin-top: 25px;
}

/* line 392, ../scss/style.scss */
.messagereply {
  background: #ebebeb;
  padding: 4%;
}
/* line 395, ../scss/style.scss */
.messagereply h5 {
  margin-top: 0;
}
/* line 399, ../scss/style.scss */
.messagereply .emailcopy {
  margin-bottom: 10px;
}
/* line 402, ../scss/style.scss */
.messagereply .emailcopy input {
  height: 15px;
  display: inline-block;
}
/* line 407, ../scss/style.scss */
.messagereply input {
  display: block;
  height: 80px;
  width: 100%;
}

/* line 416, ../scss/style.scss */
.billingbuttons {
  text-align: center;
  color: #464646;
}
/* line 420, ../scss/style.scss */
.billingbuttons a {
  color: #464646;
  padding: 20px 10%;
}
/* line 423, ../scss/style.scss */
.billingbuttons a:hover {
  color: #ff6d38;
}
/* line 429, ../scss/style.scss */
.billingbuttons .echeckbutton {
  float: left;
  width: 50%;
  background: white;
  padding: 20px 0;
}
/* line 435, ../scss/style.scss */
.billingbuttons .paypalbutton {
  float: left;
  width: 50%;
  background: white;
  padding: 20px 0;
}

/* line 443, ../scss/style.scss */
.echeck {
  background: white;
  padding: 4%;
  color: #464646;
}
/* line 447, ../scss/style.scss */
.echeck .orangebutton {
  float: left;
  width: 25%;
}
/* line 451, ../scss/style.scss */
.echeck img {
  margin-top: 20px;
}

/* line 455, ../scss/style.scss */
.paypal {
  background: white;
  padding: 4%;
  padding-bottom: 140px;
  color: #464646;
}
/* line 460, ../scss/style.scss */
.paypal select {
  float: left;
  display: block;
  margin-bottom: 20px;
}
/* line 465, ../scss/style.scss */
.paypal .orangebutton {
  width: 25%;
  float: right;
  clear: both;
}

@media screen and (min-width: 700px) {
  /* line 475, ../scss/style.scss */
  header .layrheader {
    padding-top: 5px;
  }
  /* line 478, ../scss/style.scss */
  header h1 {
    padding-bottom: 20px;
  }

  /* line 483, ../scss/style.scss */
  .maincontentbox nav {
    font-size: 1.5em;
  }

  /* line 489, ../scss/style.scss */
  .maincontentbox .loginbuttons .orangebutton {
    width: 22%;
  }

  /* line 495, ../scss/style.scss */
  .profilepicture {
    float: left;
    width: 36%;
    padding: 2%;
  }

  /* line 500, ../scss/style.scss */
  .profileinput {
    float: right;
    width: 50%;
  }

  /* line 505, ../scss/style.scss */
  .portfoliolinks {
    background: #464646;
    color: white;
    padding: 2%;
    float: left;
    width: 36%;
  }
  /* line 511, ../scss/style.scss */
  .portfoliolinks .choosefile {
    color: white;
  }

  /* line 518, ../scss/style.scss */
  .innercontent {
    font-size: 1em;
  }
  /* line 520, ../scss/style.scss */
  .innercontent tbody {
    display: block;
  }
  /* line 524, ../scss/style.scss */
  .innercontent .tablecontent .orangebutton {
    padding: 7%;
  }
  /* line 528, ../scss/style.scss */
  .innercontent th {
    width: 28%;
    text-align: left;
  }
  /* line 532, ../scss/style.scss */
  .innercontent td {
    width: 18%;
  }

  /* line 537, ../scss/style.scss */
  .overviewbuttons {
    padding: 20px 0;
  }
  /* line 539, ../scss/style.scss */
  .overviewbuttons label {
    padding-top: 20px;
  }
  /* line 542, ../scss/style.scss */
  .overviewbuttons .bluebutton {
    width: 27%;
  }

  /* line 547, ../scss/style.scss */
  .messagereply .bluebutton {
    width: 27%;
  }

  /* line 554, ../scss/style.scss */
  .tablecontent {
    font-size: 1em;
  }
  /* line 556, ../scss/style.scss */
  .tablecontent th {
    width: 28%;
    text-align: left;
    padding-right: 3%;
  }
  /* line 561, ../scss/style.scss */
  .tablecontent td {
    width: 19%;
    padding-right: 3%;
  }
}
